<h1>Bem vindo ao Aluga Temporada</h1>

<div>
  <%= link_to 'Meus imóveis', my_properties_properties_path %>
</div>

<% if @properties.empty? %>
  <h3><%= flash[:notice] %></h3>
<% else %>
  <% @properties.each do | property | %>
    <h3><%= property.title %></h3>
    <p><%= property.daily_rate %> por dia</p>
    <p>Acomoda <%= property.maximum_guests %> pessoas</p>
    <p><%= property.property_location %></p>
  <% end %>
<% end %>

<%= form_tag search_properties_path, method: "get" do%>
  <%= label_tag :location, "Localização" %>
  <%= select_tag(:location, options_for_select(@locations))%>
  <%= submit_tag "Buscar"%>
<% end %>
