<h1> Cadastrar uma proposta </h1>

<%= render partial: 'shared/model_errors', locals:{ model:@proposal } %>

<%= form_for ([@property, @proposal]) do |f| %>
  <div>
    <%= f.label :name, "Nome: #{current_user.name}" %>
  </div>
  <div>
    <%= f.label :email, "E-mail: #{current_user.email}" %>
  </div>
  <div>
    <%= f.label :phone, 'Telefone:' %>
    <%= f.text_field :phone, current_user.phone %>
  </div>
  <div>
    <%= f.label :rent_purpose, 'Finalidade:' %>
    <%= f.text_field :rent_purpose %>
  </div>
  <div>
    <%= f.label :maximum_guests, 'Quantidade de hóspedes:' %>
    <%= f.text_field :maximum_guests %>
  </div>
  <div>
    <%= f.label :start_date, 'Data de entrada:' %>
    <%= f.text_field :start_date %>
  </div>
  <div>
    <%= f.label :end_date, 'Data de saída:' %>
    <%= f.text_field :end_date %>
  </div>
  <div>
    <%= f.check_box(:petfriendly) %>
    <%= f.label(:petfriendly, "Pretendo levar pets") %>
      </div>
  <div>
    <%= f.check_box(:smoking_allowed) %>
    <%= f.label(:smoking_allowed, "Fumantes") %>
  </div>
  <div>
    <%= f.label :proposal_details, 'Outras informações:' %>
    <%= f.text_field :proposal_details %>
  </div>
  <%= f.submit 'Enviar proposta' %>
<% end %>
